@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS that doesn't fit into the Tailwind config */
.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
}
.htmx-request.htmx-indicator {
  display: inline;
}

/* Fade transition for HTMX swaps */
.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* Loading animation */
.loading {
  @apply animate-spin;
} 